.container{
    width: 20%;
    margin: auto;
}

@media screen and (min-width:768px){
    .container {
        width: 60%;
    }
}

.detail{
    margin-top: 3rem;
margin-bottom: 2rem;
width: 60%;
display: flex;
flex-wrap: wrap;
}

.detail_image{
    width: 20%;
}

.content{
    width: 50%;
}

@media screen and (min-width:768px) {
    .detail_image{
        width: 20%;
    }
    .content{
        padding-left: 3rem;
        width: 20%;
    }
}